modules = ["nodejs-20", "web"]

[nix]
channel = "stable-25_05"

[workflows]
runButton = "Start Web Server"

[[workflows.workflow]]
name = "Start Web Server"
author = 45599690
mode = "sequential"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "node server.js"

[[workflows.workflow]]
name = "Node Web Server"
author = 45914270
mode = "sequential"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "npx serve . -l 5000"

[[ports]]
localPort = 5000
externalPort = 80
